<div class="navmain">
  <mat-toolbar class="nav"
    >Task Board
    <span class="navSpace"></span>

    <button
      type="button"
      class="btn btn-primary"
      style="background-color: #b029bd; border: 1px solid #b029bd;"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      New Task
    </button>

    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Task</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Task Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newTask.name"
                id="task"
                required
              />
            </div>

            <div class="form-group">
              <label>Description</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newTask.desc"
                id="desc"
                required
              />
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button
              type="submit"
              class="btn btn-success"
              data-dismiss="modal"
              (click)="addtask()"
              [disabled]="newTask.desc === '' || newTask.name === ''"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>

<!-- ToDo -->

<div class="container">
  <div class="list-container">
    <div class="column-container">
      <div
        class="list"
        cdkDropList
        #todolist="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[rejectedlist, doinglist, donelist, todolist]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="headcard">
          <div class="title">ToDo</div>
          <div class="count">{{ todo.length }}</div>
        </div>

        <mat-card cdkDrag *ngFor="let item of todo">
          <div>
            <!-- <img
              src="../assets/delete.png"
              alt=""
              (click)="deletetodo(item.date)"
            /> -->
            <div class="delete" (click)="deletetodo(item.date)">
              Delete
            </div>
            <mat-card-title
              ><p>Task Name:</p>
              {{ item?.name }}</mat-card-title
            >
            <mat-card-subtitle
              ><p>Task Description:</p>
              {{ item?.desc }}</mat-card-subtitle
            >
          </div>
          <div class="cal">
            Created Date:
            {{ item?.date }}
          </div>
        </mat-card>

        <mat-card class="nulllist" *ngIf="todo.length === 0">
          No Pending tasks to do..!!
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div
        class="list"
        cdkDropList
        #doinglist="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[rejectedlist, doinglist, donelist, todolist]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="headcard">
          <div class="title">Doing</div>
          <div class="count">{{ doing.length }}</div>
        </div>

        <mat-card cdkDrag *ngFor="let item of doing">
          <div>
            <div class="delete" (click)="deletedoing(item.date)">
              Delete
            </div>
            <mat-card-title
              ><p>Task Name:</p>
              {{ item.name }}</mat-card-title
            >
            <mat-card-subtitle
              ><p>Task Description:</p>
              {{ item.desc }}</mat-card-subtitle
            >
          </div>
          <div class="cal">
            Created Date:
            {{ item?.date }}
          </div>
        </mat-card>
        <mat-card class="nulllist" *ngIf="doing.length === 0">
          No Pending tasks in progress..!!
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div
        class="list"
        cdkDropList
        #donelist="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[rejectedlist, doinglist, donelist, todolist]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="headcard">
          <div class="title">Done</div>
          <div class="count">{{ done.length }}</div>
        </div>
        <mat-card cdkDrag *ngFor="let item of done">
          <div>
            <div class="delete" (click)="deletedone(item.date)">
              Delete
            </div>
            <mat-card-title
              ><p>Task Name:</p>
              {{ item.name }}</mat-card-title
            >
            <mat-card-subtitle
              ><p>Task Description:</p>
              {{ item.desc }}</mat-card-subtitle
            >
          </div>
          <div class="cal">
            Created Date:
            {{ item?.date }}
          </div>
        </mat-card>
        <mat-card class="nulllist" *ngIf="done.length === 0">
          You have completed all the tasks..!!
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div
        class="list"
        cdkDropList
        #rejectedlist="cdkDropList"
        [cdkDropListData]="rejected"
        [cdkDropListConnectedTo]="[rejectedlist, doinglist, donelist, todolist]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="headcard">
          <div class="title">Rejected</div>

          <div class="count">{{ rejected.length }}</div>
        </div>

        <mat-card cdkDrag *ngFor="let item of rejected">
          <div>
            <div class="delete" (click)="deleterejected(item.date)">
              Delete
            </div>
            <mat-card-title
              ><p>Task Name:</p>
              {{ item.name }}</mat-card-title
            >
            <mat-card-subtitle
              ><p>Task Description:</p>
              {{ item.desc }}</mat-card-subtitle
            >
          </div>
          <div class="cal">
            Created Date:
            {{ item?.date }}
          </div>
        </mat-card>
        <mat-card class="nulllist" *ngIf="rejected.length === 0">
          No tasks rejected..!!
        </mat-card>
      </div>
    </div>
  </div>
</div>
